.story-avatar {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2px solid #A6328D;
  margin-bottom: 10px;
}

.story-avatar_image {
  border-radius: 50%;
  width: 80px;
  transform: translate(5%, 5%);
}

.story-username {
  font-size: 12px;
  font-weight: 400;
}