.wrapper {
  background-color: black;
}

.header {
  padding: 45px 0 127px;
}

.g-container {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 76px;
}

.logo-button {
  width: 174px;
}

.close-button {
  width: 22.5px;
  color: white;
}