.placeholder-big-box {
  width: 340px;
  color: #DEDEDE;
  margin-bottom: 20px;
}

.placeholder-small-box {
  width: 300px;
  color: #DEDEDE;
  margin-bottom: 18px;
}

.slider-page-content {
  padding: 72px 18px;
}