.c-user {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 14px;
}

.user-avatar_image {
  width: 44px;
  border-radius: 50%;
}

.user-username {
  font-size: 18px;
  font-weight: 700;
}