.toggler-button {
  display: inline-flex;
  align-items: center;
  padding: 0;

  .toggler-icon {
    width: 10px;
    transform: rotate(180deg);
  }

  &.active {
    .toggler-icon {
      transform: rotate(0deg);
    }
  }
}

.toggler-text {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
}