.top {
  margin-bottom: 32px;
}

.top_logo {
  width: 174px;
  height: 35.51px;
}

.top_homeButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 145px;
}

.top_stories {
  display: flex;
  justify-content: space-between;
}