.top_logo {
  width: 174px;
  height: 35.51px;
}

.top_homeButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 145px;
}

.top_stories {
  display: flex;
  justify-content: space-between;
}

.feed_userPost {
  margin-bottom: 32px;
}

.feed_wrapper {
  padding: 24px 20px;
  border-radius: 10px;
  margin-bottom: 18px;
}

.feed_reactions-icon {
  width: 16px;
  margin-right: 4px;
}

.feed_reactions {
  display: flex;
  align-items: center;
}

.feed_reactions-item {
  display: flex;
  align-items: center;
  padding: 5px 13px;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 28px;
}